<div id="background">
    
    <div class="centerbox">
        <input type="text" id="logininput"> 
        <input type="password" id="passwordinput"> 
        <svg id="centerbox" style="background:#f08080ad" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="494" height="303" >
            <defs>
              <filter id="Path_27" x="51.52" y="10.932" width="93.216" height="83.353" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="10" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Path_28" x="74.725" y="26.118" width="40.8" height="38.108" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="5.5" result="blur-2"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="User_Name" x="105" y="116" width="152" height="48" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-3"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-3"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Ellipse_32" x="55" y="83" width="56" height="52" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-4"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-4"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Ellipse_32-2" x="241" y="117" width="56" height="52" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-5"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-5"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="password" x="292" y="145" width="164" height="53" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-6"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-6"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <linearGradient id="linear-gradient" x1="0.5" x2="1.06" y2="0.19" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#470000" stop-opacity="0.769"/>
                <stop offset="1" stop-color="#0e0000" stop-opacity="0.588"/>
              </linearGradient>
            </defs>
            <g id="logo_header" data-name="logo header" transform="translate(82.02 38.432)">
              <text id="AC_PROJECT_MANAGEMENT_" data-name="AC PROJECT MANAGEMENT
          " transform="translate(157.98 24.568)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="18" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-126.004" y="0">AC PROJECT MANAGEMENT</tspan><tspan x="0" y="21"></tspan></text>
              <g id="Logo">
                <g transform="matrix(1, 0, 0, 1, -82.02, -38.43)" filter="url(#Path_27)">
                  <path id="Path_27-2" data-name="Path 27" d="M-3427.11,989.432h25.139l-10.049,8.8h-21.959v13.558h21.959l10.049-9.734" transform="translate(3516 -951)" fill="none" stroke="#360302" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, -82.02, -38.43)" filter="url(#Path_28)">
                  <path id="Path_28-2" data-name="Path 28" d="M-3424.076,995.027l2.872-3.909h1.408l1.167,2.17.973,1.739" transform="translate(3516 -951)" fill="none" stroke="#f8f6f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
                <path id="Path_29" data-name="Path 29" d="M-3424.593,994.442h5.466" transform="translate(3435.177 -989.844)" fill="none" stroke="#f8f6f6" stroke-width="1"/>
                <path id="Path_30" data-name="Path 30" d="M1.548,0C.732.951-.294,2.973.079,4.348.9,7.442,3.259,8.9,5.636,7.76A5.924,5.924,0,0,0,8.042,4.177a4.639,4.639,0,0,0,.21-1.551" transform="matrix(0.454, 0.891, -0.891, 0.454, 14.86, 9.721)" fill="none" stroke="#f8f6f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </g>
              <text id="Powered_by_AgapeCoders_LLC" data-name="Powered by AgapeCoders LLC" transform="translate(125.48 38.068)" fill="#470000" font-size="10" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-72.883" y="0">Powered by AgapeCoders LLC</tspan></text>
            </g>
            <g id="Path_32" data-name="Path 32" fill="rgba(255,255,255,0.11)">
              <path d="M 491.5 300.5 L 2.5 300.5 L 2.5 2.5 L 111.5592498779297 2.5 L 491.5 2.5 L 491.5 300.5 Z" stroke="none"/>
              <path d="M 5 5 L 5 298 L 489 298 L 489 5 L 111.5592041015625 5 L 5 5 M 0 0 L 111.5592041015625 0 L 494 0 L 494 303 L 0 303 L 0 0 Z" stroke="none" fill="#370303"/>
            </g>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#User_Name)">
              <rect id="User_Name-2" data-name="User Name" width="134" height="30" rx="14" transform="translate(114 122)" fill="#fff"/>
            </g>
            <g id="Component_20_1" data-name="Component 20 – 1" transform="translate(64 89)">
              <g transform="matrix(1, 0, 0, 1, -64, -89)" filter="url(#Ellipse_32)">
                <g id="Ellipse_32-3" data-name="Ellipse 32" transform="translate(64 89)" fill="rgba(255,255,255,0.02)" stroke="#360303" stroke-width="5">
                  <ellipse cx="19" cy="17" rx="19" ry="17" stroke="none"/>
                  <ellipse cx="19" cy="17" rx="16.5" ry="14.5" fill="none"/>
                </g>
              </g>
              <text id="_1" data-name="1" transform="translate(19 23)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="18" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-5.005" y="0">1</tspan></text>
              <line id="Line_5" data-name="Line 5" x2="5" transform="translate(38.5 17.5)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
              <text id="Enter_User_Name" data-name="Enter User Name" transform="translate(93.5 21.5)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="11" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-44.325" y="0">Enter User Name</tspan></text>
              <line id="Line_6" data-name="Line 6" y1="32" transform="translate(43.5 17.5)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
              <path id="Path_31" data-name="Path 31" d="M0,.5H2.459" transform="translate(43.5 49)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
            </g>
            <g id="Component_20_2" data-name="Component 20 – 2" transform="translate(250 123)">
              <g transform="matrix(1, 0, 0, 1, -250, -123)" filter="url(#Ellipse_32-2)">
                <g id="Ellipse_32-4" data-name="Ellipse 32" transform="translate(250 123)" fill="rgba(255,255,255,0.02)" stroke="#360303" stroke-width="5">
                  <ellipse cx="19" cy="17" rx="19" ry="17" stroke="none"/>
                  <ellipse cx="19" cy="17" rx="16.5" ry="14.5" fill="none"/>
                </g>
              </g>
              <text id="_2" data-name="2" transform="translate(19 23)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="18" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-5.005" y="0">2</tspan></text>
              <line id="Line_5-2" data-name="Line 5" x2="5" transform="translate(38.5 17.5)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
              <text id="Enter_Password" data-name="Enter Password" transform="translate(93.5 21.5)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="11" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-41.57" y="0">Enter Password</tspan></text>
              <line id="Line_6-2" data-name="Line 6" y1="32" transform="translate(43.5 17.5)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
              <path id="Path_31-2" data-name="Path 31" d="M0,.5H2.459" transform="translate(43.5 49)" fill="none" stroke="#360303" stroke-linecap="round" stroke-width="5"/>
            </g>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#password)">
              <rect id="password-2" data-name="password" width="146" height="35" rx="17.5" transform="translate(301 151)" fill="#fff"/>
            </g>
            <a class="hover" (click)="this.auth.login()">
                <g id="login_button" data-name="login button" transform="translate(140.533 190)">
                    <path id="Path_33" data-name="Path 33" d="M-3120,1123v21.358h-233.467v36.487h29.024" transform="translate(3353.467 -1123)" fill="none" stroke="#470000" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
                    <rect id="Rectangle_52" data-name="Rectangle 52" width="125" height="31" transform="translate(37.467 42)" fill="url(#linear-gradient)"/>
                    <text id="LOG_IN" data-name="LOG IN" transform="translate(99.467 64)" fill="#f8f6f6" stroke="rgba(71,0,0,0.3)" stroke-width="0.25" font-size="18" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-30.999" y="0">LOG IN</tspan></text>
                  </g>
            </a>
        
          </svg>

    </div>
    
      


</div>